#github-icon {
    background-image: url('./img/GitHub-Mark-32px.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:  auto 1.75rem;
    margin: 0.1rem;
    padding: 0.2rem;
}

a.icon-link {
    display: block;
    width: 1.75rem;
    height: 1.75rem;
}

a.icon-link span{
    display: none;
}
